<div class="container">
    <mat-card class="my-card">
        <mat-card-content>
            <h2>login</h2>
            <form class="my-form">
                <mat-form-field class="full-width">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" name="email" [(ngModel)]="data.username" s>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="data.password">
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="masuk(data)" color="primary">LOGIN</button>
        </mat-card-actions>
    </mat-card>
</div>